<div class="mt-4 mb-4">
    <form action="javascript:;" onsubmit="goToDate()" method="get">
        <select class="" id="inputYear" onchange="resetDays()">
            @in[opt year-options]{
            <option @(select-option-selected opt) value="@(select-option-value opt)">@(select-option-value opt)
            </option>
            }
        </select>
        <select class="" id="inputMonth" onchange="resetDays()">
            @in[opt month-options]{
            <option @(select-option-selected opt) value="@(select-option-value opt)">@(select-option-value opt)
            </option>
            }
        </select>
        <select class="" id="inputDay">
            @in[opt day-options]{
            <option @(select-option-selected opt) value="@(select-option-value opt)">@(select-option-value opt)
            </option>
            }
        </select>
        <input type="submit" value="Go">
    </form>
    <form class="mb-3 mt-3" action="@|url|/reload">
        <input type="submit" value="Reload GnuCash File">
    </form>
    <p><em>Changing dates refreshes all the data on the page.</em></P>
</div>