html {
   font-size: 14px;
}

.roi-heading th {
   /* component of icons */
   background-color: #007bff;
   color: white;
}


/* override bootstrap button to remove decoration on hover 
.button-light:hover {
   text-decoration: none!important;
}
*/
