html {
   font-size: 14px;
}

.roi-heading th {
   background-color: aquamarine;
}


/* override bootstrap button to remove decoration on hover 
.button-light:hover {
   text-decoration: none!important;
}
*/
