@date-selector
<div class="report-section w600">
    <h3>Allocation Summary</h3>

    <h3>Total Market Value: @(format-currency (roi-line-value grand-total-line))</h3>
    <p class="text-center"><em>Percentages may not add up to 100% due to rounding</em></p>
    <p class="text-center"><em>Positive: buy more --- Negative: sell some</em></p>


    <h4>Percentages</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="text-center"></th>
                <th class="text-center">Canada</th>
                <th class="text-center">US</th>
                <th class="text-center">International</th>
                <th class="text-center">Cash</th>
                <th class="text-center">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Target Allocation</td>
                <td class="text-center">@(as-percent-string (alloc-rec-ca target-allocation))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-us target-allocation))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-intl target-allocation))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-fixed target-allocation))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-other target-allocation))</td>
            </tr>
            <tr>
                <td class="text-center">Actual Allocation</td>
                <td class="text-center">@(as-percent-string (roi-line-ca actual-allocation-percent-line))</td>
                <td class="text-center">@(as-percent-string (roi-line-us actual-allocation-percent-line))</td>
                <td class="text-center">@(as-percent-string (roi-line-intl actual-allocation-percent-line))</td>
                <td class="text-center">@(as-percent-string (roi-line-fixed actual-allocation-percent-line))</td>
                <td class="text-center">@(as-percent-string (roi-line-other actual-allocation-percent-line))</td>
            </tr>
            <tr>
                <td class="text-center">Difference $</td>
                <td class="text-center">@(as-percent-string (roi-line-ca difference-allocation-percent))</td>
                <td class="text-center">@(as-percent-string (roi-line-us difference-allocation-percent))</td>
                <td class="text-center">@(as-percent-string (roi-line-intl difference-allocation-percent))</td>
                <td class="text-center">@(as-percent-string (roi-line-fixed difference-allocation-percent))</td>
                <td class="text-center">@(as-percent-string (roi-line-other difference-allocation-percent))</td>
            </tr>
        </tbody>
    </table>
    <p class="text-center"><em>Positive: buy more --- Negative: sell some</em></p>

    <h4>Market Value</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="text-center"></th>
                <th class="text-center">Canada</th>
                <th class="text-center">US</th>
                <th class="text-center">International</th>
                <th class="text-center">Cash</th>
                <th class="text-center">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Target Allocation</td>
                <td class="text-center">@(format-currency (roi-line-ca target-allocation-values))</td>
                <td class="text-center">@(format-currency (roi-line-us target-allocation-values))</td>
                <td class="text-center">@(format-currency (roi-line-intl target-allocation-values))</td>
                <td class="text-center">@(format-currency (roi-line-fixed target-allocation-values))</td>
                <td class="text-center">@(format-currency (roi-line-other target-allocation-values))</td>
            </tr>
            <tr>
                <td class="text-center">Actual Allocation</td>
                <td class="text-center">@(format-currency (roi-line-ca grand-total-line))</td>
                <td class="text-center">@(format-currency (roi-line-us grand-total-line))</td>
                <td class="text-center">@(format-currency (roi-line-intl grand-total-line))</td>
                <td class="text-center">@(format-currency (roi-line-fixed grand-total-line))</td>
                <td class="text-center">@(format-currency (roi-line-other grand-total-line))</td>
            </tr>
            <tr>
                <td class="text-center">Difference</td>
                <td class="text-center">@(format-currency (roi-line-ca difference-allocation-value))</td>
                <td class="text-center">@(format-currency (roi-line-us difference-allocation-value))</td>
                <td class="text-center">@(format-currency (roi-line-intl difference-allocation-value))</td>
                <td class="text-center">@(format-currency (roi-line-fixed difference-allocation-value))</td>
                <td class="text-center">@(format-currency (roi-line-other difference-allocation-value))</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="report-section w600">
    <h3>Allocation Targets</h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="text-center">Canada</th>
                <th class="text-center">US</th>
                <th class="text-center">International</th>
                <th class="text-center">Cash</th>
                <th class="text-center">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">40%</td>
                <td class="text-center">20%</td>
                <td class="text-center">20%</td>
                <td class="text-center">10%</td>
                <td class="text-center">0%</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="report-section w600">
    <h3>Allocation Per Asset</h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="text-center">Commodity</th>
                <th class="text-center">Canada</th>
                <th class="text-center">US</th>
                <th class="text-center">International</th>
                <th class="text-center">Cash</th>
                <th class="text-center">Other</th>
            </tr>
        </thead>
        <tbody>
            @in[alloc list-alloc-rec]{
            <tr>
                <!-- <td class="text-center">(alloc-rec-commodity alloc)"</td>
                <td class="text-center">(alloc-rec-ca allocation-rec)"</td> -->
                <td class="text-center">@(alloc-rec-commodity alloc)</td>
                <td class="text-center">@(as-percent-string (alloc-rec-ca alloc))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-us alloc))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-fixed alloc))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-intl alloc))</td>
                <td class="text-center">@(as-percent-string (alloc-rec-other alloc))</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!---
<div class="report-section mw60p">
    <h3>Account Details</h3>
    <h4>Account 1</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="commodity-column">Commodity</th>
                <th class="text-right market-value-column">Market Value</th>
                <th class="text-right value-column">CA</th>
                <th class="text-right value-column">US</th>
                <th class="text-right value-column">INTL</th>
                <th class="text-right value-column">$</th>
                <th class="text-right value-column">OTH</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">BMO</td>
                <td class="text-right">1000</td>
                <td class="text-right">1000</td>
                <td class="text-right">0</td>
                <td class="text-right">0</td>
                <td class="text-right">0</td>
                <td class="text-right">0</td>
            </tr>
        </tbody>
    </table>
    <h4>Account 2</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="commodity-column">Commodity</th>
                <th class="text-right market-value-column">Market Value</th>
                <th class="text-right value-column">CA</th>
                <th class="text-right value-column">US</th>
                <th class="text-right value-column">INTL</th>
                <th class="text-right value-column">$</th>
                <th class="text-right value-column">OTH</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">VEQT</td>
                <td class="text-right">1000</td>
                <td class="text-right">100</td>
                <td class="text-right">300</td>
                <td class="text-right">300</td>
                <td class="text-right">200</td>
                <td class="text-right">100</td>
            </tr>
        </tbody>
    </table>
</div>
-->
<script>
    @extra-javascript
</script>