@navigation
<div class="container d-flex align-items-center justify-content-center">
  <a class="mb-2 btn btn-primary" href="@|link-toggle-splits|">Toggle Splits</a>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Memo</th>
        <th>Account</th>
        <th class="align-items-center">Amount</th>
        <th class="align-items-center">Total</th>
        <th class="align-items-center">Balance</th>
      </tr>
    </thead>
    <tbody>
      @in[line ledger-lines]{
      <tr class="@(bank-ledger-line-color-class line)">
        <!-- bank-ledger-line is a list, values are in order 1st to nth -->
        <td>@(bank-ledger-line-date line)</td>
        <td>@(bank-ledger-line-description line)</td>
        <td>@(bank-ledger-line-memo line)</td>
        <td>@(bank-ledger-line-account-name line)</td>
        <td class="align-items-right">@(bank-ledger-line-value line)</td>
        <td class="align-items-right">@(bank-ledger-line-total line)</td>
        <td class="align-items-right">@(bank-ledger-line-balance line)</td>
      </tr>
      }
    </tbody>
  </table>
</div>
@navigation