<!-- demo
<div class="container d-flex align-items-center  justify-content-center">
    <nav aria-label="Pagination"></nav>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>
</div>
-->

<div class="container d-flex align-items-center  justify-content-center">
    <nav aria-label="Pagination"></nav>
    <ul class="pagination">
        <li class="@(nav-link-li-class prev-link)">
            <a class="page-link" href="@(nav-link-href prev-link)" @(nav-link-tab-index prev-link)>@(nav-link-text
                prev-link)</a>
        </li>
        @in[lnk other-links]{
        <li class="@(nav-link-li-class lnk)">
            <a class="page-link" href="@(nav-link-href lnk)" )>@(nav-link-text lnk)</a>
        </li>
        }
        <li class="@(nav-link-li-class next-link)">
            <a class="page-link" href="@(nav-link-href next-link)" @(nav-link-tab-index next-link)>@(nav-link-text
                next-link)</a>
        </li>
    </ul>
    </nav>
</div>