@date-selector
<!-- 
(struct roi-line (commo-id shares price value cost gain-loss roi))
(struct account-roi (account total-roi-line child-roi-lines))
-->
<div style="max-width:600px">
    @in[act-roi master-list-roi]{
    <h4>@(send (account-roi-account act-roi) get-name)</h4>
    <p class="alert alert-danger @(class-for-hide-if-blank @(account-roi-error-message act-roi))">
        Report is incomplete: @(account-roi-error-message act-roi)
    </p>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="w-40">Commodity</th>
                <th class="text-right w-15">Cost</th>
                <th class="text-right w-15">Market Value</th>
                <th class="text-right w-15">Gain/Loss</th>
                <th class="text-right w-15">ROI</th>
            </tr>
        </thead>
        <tbody>
            @in[commodity (account-roi-child-roi-lines act-roi)]{
            <tr>
                <td class="text-left">@(roi-line-commo-id commodity)</td>
                <td class="text-right">@(real->decimal-string(roi-line-cost commodity))</td>
                <td class="text-right">@(real->decimal-string(roi-line-value commodity))</td>
                <td class="text-right">@(real->decimal-string(roi-line-gain-loss commodity))</td>
                <td class="text-right">@(real->decimal-string(roi-line-roi commodity))%</td>
            </tr>
            }
            <!-- hard-code style to override alternate colors on rows -->
            <tr style="background-color: #95cfff">
                <td class="text-left">TOTAL</td>
                <td class="text-right">@(real->decimal-string(roi-line-cost (account-roi-total-roi-line
                    act-roi)))</td>
                <td class="text-right">@(real->decimal-string(roi-line-value
                    (account-roi-total-roi-line act-roi)))</td>
                <td class="text-right">@(real->decimal-string(roi-line-gain-loss
                    (account-roi-total-roi-line act-roi)))
                </td>
                <td class="text-right">@(real->decimal-string(roi-line-roi (account-roi-total-roi-line
                    act-roi)))%</td>
            </tr>
        </tbody>
    </table>
    }

    <h4>SUMMARY</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr class="roi-heading">
                <th class="w-40">Commodity</th>
                <th class="text-right w-15">Cost</th>
                <th class="text-right w-15">Market Value</th>
                <th class="text-right w-15">Gain/Loss</th>
                <th class="text-right w-15">ROI</th>
            </tr>
        </thead>
        <tbody>
            <tr class="roi-heading">
                <td>GRAND TOTAL</td>
                <td class="text-right">@(real->decimal-string(roi-line-cost grand-total-line))</td>
                <td class="text-right">@(real->decimal-string(roi-line-value grand-total-line))</td>
                <td class="text-right">@(real->decimal-string(roi-line-gain-loss grand-total-line))</td>
                <td class="text-right">@(real->decimal-string(roi-line-roi grand-total-line))%</td>
            </tr>
        </tbody>
    </table>

</div>
<script>
    @extra-javascript
</script>